<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee">

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.app.servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PropertyServlet</servlet-name>
        <servlet-class>com.app.servlet.PropertyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PropertyServlet</servlet-name>
        <url-pattern>/property</url-pattern>
    </servlet-mapping>

</web-app>